
h1 span {
    color: rgb(21, 21, 215);
}

#container-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    place-items: center;
}

.card {
    border: dashed 1px rgb(21, 21, 215);
    border-radius: 5px;
    display: flex;
    font-size: 9px;
    place-items: center;
    width: 100%;
    height: 250px;
    transition: 0.5s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.card:hover {
    background-color: rgb(21, 21, 215);
    transition: 0.5s;
    color: #fff;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}